.cart-goods-item {
  td {
    padding: 20px;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 250px;
  }

  &__about {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: left;

    .title {
      margin-bottom: 50px;
    }
  }

  &__price,
  &__total-price {
    vertical-align: top;
  }
}
