.main-cart {
  &__title {
    padding-top: 100px;
    text-align: center;
  }

  &__continue-browsing {
    margin-top: 30px;
    text-align: center;

    a {
      margin-left: 3px;
      text-decoration: underline;

      &:hover {
        text-decoration: unset;
      }
    }
  }

  table {
    width: 100%;
    margin-top: 20px;
    padding: 0 10%;
    text-align: center;

    thead {
      display: none;
    }

    th {
      font-weight: var(--font-weight-500);

      &.image-col {
        width: 40%;
      }

      &.about-col {
        width: 30%;
      }
    }

    .sub-total-row {
      display: initial;
    }

    .sub-total {
      padding: 20px;
      text-align: center;

      .sum {
        margin-left: 5px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main-cart {
    &__title {
      padding-top: 140px;
    }

    table {
      thead {
        display: table-header-group;
      }

      .sub-total-row {
        display: revert;

        .sub-total {
          text-align: left;
        }
      }
    }
  }
}
