.goods-list {
  position: relative;
  padding: 30px 10% 100px 10%;

  .input-select {
    display: flex;
    justify-content: flex-end;

    .dropdown {
      width: 300px;
      height: 50px;
      margin-bottom: 50px;
      border: 1px solid var(--black-color);
    }
  }


  &__goods-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  &-fallback {
    &__goods-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      padding: 30px 10% 100px 10%;
    }
  }
}

@media screen and (min-width: 768px) {
  .goods-list {
    &__goods-container,
    &-fallback__goods-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
