.goods-single {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 0 100px 0;

  * {
    text-align: center;

    input {
      text-align: left;
    }
  }

  &__gallery {
    width: 100%;

    & > * {
      position: relative;
      width: 100%;
      height: 200vw;
    }
  }

  &__info {
    width: 100%;
    padding: 20px 50px;

    .title {
      font-weight: var(--font-weight-500);
      text-align: center;
    }

    .price-container {
      margin-top: 10px;
      font-weight: var(--font-weight-500);

      .stock-price {
        color: var(--black-color);
      }
    }

    .individual-tailoring {
      .title {
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .button-container {
      margin: 40px auto;
    }

    .materials-container {
      margin-top: 30px;

      & > * {
        margin-bottom: 10px;
      }
    }

    .description {
      margin-top: 30px;
    }

    .back-to-collection {
      display: flex;
      align-items: center;
      width: fit-content;
      margin: auto;
      margin-top: 40px;
      cursor: pointer;

      .arrow {
        width: 7px;
        height: 7px;
        margin-right: 10px;
        border: solid var(--black-color);
        border-width: 1px 0 0 1px;
        transform: rotate(-45deg);
      }
    }
  }

  .button-container {
    margin: 40px auto;
    height: fit-content;
  }
}

@media screen and (min-width: 768px) {
  .goods-single {
    flex-direction: row;
    padding: 30px 15% 100px 15%;

    * {
      text-align: unset;
    }

    &__gallery {
      width: 50%;

      & > * {
        height: 50vw;
        margin-bottom: 20px;
      }
    }

    &__info {
      width: 30%;
      padding: 0;

      .title {
        text-align: left;
      }

      .price-container {
        width: fit-content;
      }

      .button {
        margin-left: 0;
      }

      .back-to-collection {
        margin-left: 0;
      }
    }
  }
}
