.goods-item {
  cursor: pointer;

  .not-load {
    display: none;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 400px;

    img {
      display: block;
      height: 400px;
      margin: 0 auto;
      object-fit: contain;
    }

    .second {
      position: absolute;
      top: 0;
      left: 50%;
      opacity: 0;
      transform: translateX(-50%);

      &:hover {
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
  }

  &__title {
    padding-top: 5px;
    text-align: center;
  }

  &-fallback {
    &__image {
      width: 100%;
      height: 400px;
      background: var(--grey-color);
    }

    &__title {
      width: 80%;
      height: 20px;
      margin: 5px auto 0 auto;
      padding-top: 5px;
      background: var(--grey-color);
    }

    &__price {
      width: 40%;
      height: 20px;
      margin: 5px auto 0 auto;
      padding-top: 5px;
      background: var(--grey-color);
    }
  }
}
