.goods-list {
  position: relative;
  padding: 30px 10% 30px 10%;

  .input-select {
    display: flex;
    justify-content: flex-end;

    .dropdown {
      width: 300px;
      height: 50px;
      margin-bottom: 50px;
      border: 1px solid var(--black-color);
    }
  }

  &__goods-container {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
  }

  &-fallback {
    &__goods-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      padding: 30px 10% 30px 10%;
    }
  }

  &__pages-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    text-align: center;

    .page-number {
      margin: 0 10px;
      cursor: pointer;

      p {
        font-size: var(--font-20);

        &.selected {
          text-decoration: underline;
        }
      }
    }

    .chevron {
      &-left,
      &-right {
        width: 10px;
        height: 10px;
        margin: 0 10px;
        border: solid var(--black-color);
        border-width: 0 2px 2px 0;
        transform: rotate(-45deg);
        cursor: pointer;
      }

      &-left {
        transform: rotate(135deg);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .goods-list {
    &__goods-container,
    &-fallback__goods-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
