form {
  margin-top: 10px;

  .input-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 2px 10px;
    border: 1px solid var(--black-color);

    &::placeholder {
      color: var(--black-color);
      opacity: 1;
    }

    .input-suffix {
      margin-left: 10px;
    }
  }

  .submit-button {
    display: none;
  }

  .error {
    color: var(--red-color);
  }
}
