.subcollections-list {
  position: relative;
  padding: 60px 10% 100px 10%;

  &__collection-name {
    padding: 30px 0;
    font-size: var(--font-20);
    text-align: center;
  }

  &__subcollection-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    .subcollections-item {
      &__image {
        position: relative;
        height: 400px;
        width: 100%;
      }

      &__title {
        padding-top: 5px;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .subcollections-list {
    padding-top: 100px;

    &__subcollection-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
