.language-selector {
  width: fit-content;
  margin-right: 20px;
  text-transform: uppercase;
  cursor: pointer;
  
  p {
    width: 50px;
    margin-right: 0;
    font-family: var(--bold-font);
  }

  &:hover {
    text-decoration: underline;
  }
}