* {
  --primary-font: Futura;
  --secondary-font: Arial-BoldMT, Arial;

  --font-14: 14px;
  --font-15: 15px;
  --font-16: 16px;
  --font-20: 20px;
  --font-24: 24px;
  --font-28: 28px;
  --font-36: 36px;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-900: 900;

  --black-color: #000;
  --red-color: #ff503f;
  --white-color: #ffffff;
  --light-yellow-color: #f7f7f7;
  --grey-color: #f0f0f0;
  --light-grey-color: #dbdbdb;
  --dark-grey-color: #4a4a4a;
  --transparent: transparent;
  --transparent-black: rgba(0, 0, 0, 0.5);
  --transparent-menu: hsla(36, 33.3%, 97.1%, 0.9);
}
