* {
  --primary-font: Futura;
  --bold-font: FuturaBold;

  --font-16: 16px;
  --font-20: 20px;
  --font-24: 24px;
  --font-36: 36px;

  --font-weight-400: 400;

  --black: #000;
  --white-color: #ffffff;
  --transparent: transparent;
  --transparent-menu: hsla(36, 33.3%, 97.1%, 0.9);
}
