* {
  --primary-font: Futura;

  --font-16: 16px;
  --font-20: 20px;
  --font-24: 24px;
  --font-36: 36px;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;

  --black: #000;
  --white-color: #ffffff;
  --grey-color: #f0f0f0;
  --transparent: transparent;
  --transparent-menu: hsla(36, 33.3%, 97.1%, 0.9);
}
