@mixin sliding-menu($from-left: true) {
  position: absolute;
  top: 0;
  @if $from-left {
    right: 100%;
  } @else {
    left: 100%;
  }
  height: 100vh;
  background: var(--transparent-menu);
  transform: translate(0);
  transition: transform 0.5s;

  &.open {
    @if $from-left {
      transform: translateX(100%);
    } @else {
      transform: translateX(-100%);
    }
    transition: transform 0.5s;
  }
}

@mixin pageTitle {
  padding-top: 100px;

  @media screen and (min-width: 768px) {
    padding-top: 160px;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: var(--grey-color);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--dark-grey-color);
    border-radius: 10px;
  }
}
