.shipping {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__order-summary {
    width: calc(100vw);
    margin-left: calc((100% - 100vw) / 2);
    background: var(--light-yellow-color);
    margin-bottom: 20px;

    .order-summary-toggle {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      border: 2px solid var(--grey-color);
      align-items: center;
      cursor: pointer;

      svg {
        margin-right: 10px;
      }

      .chevron {
        &-down,
        &-up {
          width: 10px;
          height: 10px;
          border: solid var(--black-color);
          border-width: 0 2px 2px 0;
          margin-right: auto;
          margin-left: 10px;
          transform: rotate(45deg);
        }

        &-up {
          transform: rotate(-135deg) translate(-10px);
        }
      }

      .total-sum {
        align-self: flex-start;
        font-weight: var(--font-weight-500);
        font-size: var(--font-24);
      }
    }

    .order-summary-list {
      overflow: hidden;
      transition: height 0.3s;
      background: var(--light-yellow-color);
      border: 2px solid var(--grey-color);

      .divider {
        background: var(--grey-color);
        margin: 20px 0;
        height: 2px;
      }

      .total-checkout {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          font-size: var(--font-24);
        }

        .price {
          font-size: var(--font-28);
          font-weight: var(--font-weight-700);
        }
      }
    }
  }

  &__info {
    .title {
      font-weight: var(--font-weight-500);
      font-size: var(--font-24);
    }
  }

  .back-to-cart {
    height: 45px;
    display: flex;
    width: fit-content;
    align-items: center;
    margin: auto;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 50px;

    .arrow {
      width: 7px;
      height: 7px;
      margin-right: 10px;
      border: solid var(--black-color);
      border-width: 1px 0 0 1px;
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: 768px) {
  .shipping {
    padding-top: 160px;

    &__info {
      .back-to-cart {
        margin-left: 0;
        margin-top: -45px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .shipping {
    flex-direction: row-reverse;
    justify-content: space-between;

    &__order-summary {
      height: 100%;
      width: 50%;
      margin-left: 0;
      margin-bottom: 0;

      .order-summary-toggle {
        display: none;
      }

      .order-summary-list {
        padding: 0 60px;
        width: 50vw;
      }
    }

    &__info {
      width: 46%;
    }
  }
}
