@font-face {
  /* stylelint-disable-next-line sh-waqar/declaration-use-variable */
  font-family: "Futura";
  src: url("/fonts/FuturaPT-Book.woff") format("woff");
}

@font-face {
  /* stylelint-disable-next-line sh-waqar/declaration-use-variable */
  font-family: "FuturaBold";
  src: url("/fonts/FuturaPT-Bold.woff") format("woff");
}
