// stylelint-disable

@font-face {
  font-weight: 400;
  font-family: 'Futura';
  font-style: normal;

  src: local('Futura-Light'), url('/fonts/FuturaPT-Light.woff') format('woff');
}

@font-face {
  font-weight: 500;
  font-family: 'Futura';
  font-style: normal;

  src: local('Futura-Normal'), url('/fonts/FuturaPT-Book.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Futura';
  font-style: normal;

  src: local('Futura-Bold'), url('/fonts/FuturaPT-Bold.woff') format('woff');
}
