.dropdown-selector {
  text-transform: uppercase;
  cursor: pointer;

  p {
    width: 40px;
    margin-right: 10px;
    font-family: var(--primary-font);
    text-align: center;

    @media screen and (min-width: 768px) {
      margin-right: 20px;
    }
  }

  &:hover {
    text-decoration: underline;
  }

  .droplist {
    position: absolute;
    z-index: 10;
    width: 40px;
    background: rgba(256, 256, 256, 0.7);

    p {
      margin-top: 5px;
    }
  }
}
