@import './DropdownSelector.scss';
@import './Logo.scss';
@import './MobileMenu.scss';
@import './SearchInput.scss';
@import './Sublist.scss';

.header {
  position: absolute;
  z-index: 1000;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  .mobile-header {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__droplists {
      display: flex;
    }

    &__droplist-icon {
      width: 18px;
      height: 18px;
      margin-right: 15px;
    }

    &__lang-and-cart {
      display: flex;
      align-items: center;
    }

    &__mobile-menu {
      @include sliding-menu($from-left: true);
      width: 100vw;
      padding: 30px 0;
      overflow-y: scroll;
    }
  }

  .desktop-header {
    display: none;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__options {
      display: flex;

      &-option {
        z-index: 102;
        width: max-content;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    &__desktop-menu {
      @include sliding-menu($from-left: true);
      z-index: 101;
      width: 400px;
      padding: 100px 30px;

      .options-sublist {
        position: absolute;
        transform: translateX(-200%);
        transition: transform 0.3s;

        &.open {
          transform: translateX(0);
        }
      }
    }

    &__search-container {
      @include sliding-menu($from-left: false);
      position: fixed;
      z-index: 101;
      width: 400px;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 70px;
    padding-bottom: 70px;

    .mobile-header {
      display: none;
    }

    .desktop-header {
      display: block;
    }
  }
}
