.logo {
  position: absolute;
  left: 50%;
  margin: 0;
  font-weight: var(--font-weight-500);
  font-size: var(--font-24);
  text-align: center;
  text-transform: uppercase;
  transform: translateX(-50%);
  cursor: pointer;
}
