.mobile-menu {
  
  &__cross-icon {
    width: fit-content;
    margin-left: auto;
    svg {
      width: 18px;
      height: 18px;
    }
  }

  &__sublist {
    padding-left: 30px;
  }

  p {
    margin-top: 20px;
    cursor: pointer;
  }
}
