.search-input {
  margin: 15px 0;

  &-container {
    height: 100%;
    padding: 0;
  }
}

.search-result-container {
  position: relative;
  height: 80%;
  overflow-y: scroll;

  @include scrollBar;
}

@media screen and (min-width: 768px) {
  .search-input {
    &-container {
      padding: 100px 60px;
      padding-bottom: 20px;
    }
  }
}
