@import './variables/variables';
@import './fonts/fonts';
@import './mixins/mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-size: var(--font-16);
  font-family: var(--primary-font);
}

html,
body {
  overflow-x: hidden;
  &.hide-overflow {
    top: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: hidden;
  }
}

body > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1;
  }
}

a {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.container,
.narrow-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 768px) {
    padding: 0 60px;
  }
}

.narrow-container {
  max-width: 900px;
}

input,
select {
  width: 100%;
  height: auto;
  padding: 5px 0;
  line-height: 1.8em;
  text-align: left;
  background: var(--transparent);
  border: none;
  border-bottom: 1px var(--black) solid;
  outline: none;
}

select {
  appearance: none;
}

svg {
  cursor: pointer;
}

.inform-page-container {
  padding: 100px 15px 25px 15px;

  p {
    margin: 20px 0;
  }
}

@media screen and (min-width: 768px) {
  .inform-page-container {
    max-width: 768px;
    margin: 0 auto;
    padding: 150px 50px 25px 50px;
  }
}

@import '../src/components/Header/Header.scss';
@import '../src/components/Footer/Footer.scss';
@import '../src/components/Carousel/Carousel.scss';
@import '../src/components/MainCarousel/MainCarousel.scss';
@import '../src/components/MainCollectionsSamples/CollectionSamples.scss';
@import '../src/components/Goods/Goods.scss';
@import '../src/components/SubCollections/SubCollections.scss';
@import '../src/components/Form/Form.scss';
@import '../src/components/Button/Button.scss';
@import '../src/components/Cart/Cart.scss';
@import '../src/components/Checkout/Checkout.scss';
@import '../src/components/Voucher/Voucher.scss';
@import '../src/components/Runway/Runway.scss';
@import '../src/components/Modal/Modal.scss';
@import '../src/components/Celebrities/Celebrities.scss';
@import '../src/components/SizesTable/SizesTable.scss';
